<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <title>King Online</title>
  </head>
  <body>
    <header>
      <h1>King Online</h1>
      <p>オリジナルカードゲーム「キング」のオンラインゲーム</p>
    </header>
    <h2>部屋に入る</h2>
    <p>部屋のURLを共有してもらってください。そのURLにアクセスすることで部屋に入ることができます。</p>
    <h2>部屋を作る</h2>
    <form action="newgame">
      <label for="name">部屋の名前：<input type="text" name="name" id="name"></label>
      <button type="submit">作る</button>
    </form>
  </body>
</html>
